$font-family: 'Lato', Arial, Helvetica, sans-serif;
$green: #03a84e;
$text-gray: #9C9AA6;
$text-black: #373737;
$border-color: #EEEEEE;
$white: #FFFFFF;
$grey: #D3D3D3;
$body-background: #FAFAFA;
$green-light: #91DBA8;
$green-dark: #00823F;
$card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);