@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
@import 'font-awesome.css';
@import './_variables.scss';

* {
  font-family: $font-family;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.p-relative {
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.loading-placeholder {
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  box-shadow: $card-box-shadow;
  transition: transform 0.2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $white;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}

.card {
  flex: 1 0;
  background-color: $white;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 0;
  box-shadow: $card-box-shadow;
  transition: transform 0.2s;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}